body,div,ul,li,p,h1,h2,h3,h4,h5,h6,input,textarea{
  padding: 0;
  margin: 0;
  line-height: 1.25;
}

body {
  font-family: Arial,Helvetica,"Arial Unicode MS",sans-serif;
  font-size: 16px;
}

.main {
  width: 300px;
  margin: 20px auto;
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 5px;
}

p {margin-top: 5px;}

.name {
  font-weight: bold;
  padding-right: 10px;
  color: #85144b;
  cursor: pointer;
}
.name:hover {
  color: #F012BE;
  text-decoration: underline;
}

.description {
  font-size: 14px;
}

audio {
  margin: 3px 0 -5px;
}

.selected {
  font-weight: bold;
  color: #F012BE;
}

.center {
  text-align: center;
}

